# EditorConfig: https://EditorConfig.org

# Plugins -> Plugins Admin -> EditorConfig

# top-most EditorConfig file
root = true

[*]
trim_trailing_whitespace = true
insert_final_newline = true

# Matches multiple files with brace expansion notation
[*.{rst, md, yml, cmd, sh}]
indent_style = space
indent_size = 2
